<a href="https://colab.research.google.com/github/nleck001/CSC221_Spring_2024/blob/main/Class12_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSC221 Intro Programming Class 12
- Ned Lecky
- 3/7/2024

In [ ]:
# zyBook 10.4
# Cass attributes and methods
# vs
# Instance attributes

In [ ]:
# From 10.5 zyBook
class Seat:
    def __init__(self):
        self.first_name = ''
        self.last_name = ''
        self.paid = 0.0

    def reserve(self, f_name, l_name, amt_paid):
        self.first_name = f_name
        self.last_name = l_name
        self.paid = amt_paid

    def make_empty(self):
        self.first_name = ''
        self.last_name = ''
        self.paid = 0.0

    def is_empty(self):
        return self.first_name == ''

    def print_seat(self):
        print(f'{self.first_name} {self.last_name}, Paid: {self.paid:.2f}')


def make_seats_empty(seats):
    for s in seats:
        s.make_empty()


def print_seats(seats):
    for i in range(len(seats)):
        print(f'{i}:', end=' ')
        seats[i].print_seat()

num_seats = 5

available_seats = []
for i in range(num_seats):
    available_seats.append(Seat())

command = input('Enter command (p/r/q):\n')
while command != 'q':
    if command == 'p':  # Print seats
        print_seats(available_seats)
    elif command == 'r':  # Reserve a seat
        seat_num = int(input('Enter seat num:\n'))
        if not available_seats[seat_num].is_empty():
            print('Seat not empty')
        else:
            fname = input('Enter first name:\n')
            lname = input('Enter last name:\n')
            paid = float(input('Enter amount paid:\n'))
            available_seats[seat_num].reserve(fname, lname, paid)
    else:
        print('Invalid command.')

    command = input('Enter command (p/r/q):\n')

Enter command (p/r/q):
p
0:  , Paid: 0.00
1:  , Paid: 0.00
2:  , Paid: 0.00
3:  , Paid: 0.00
4:  , Paid: 0.00
Enter command (p/r/q):
r
Enter seat num:
2
Enter first name:
ned
Enter last name:
lecky
Enter amount paid:
123.57
Enter command (p/r/q):
p
0:  , Paid: 0.00
1:  , Paid: 0.00
2: ned lecky, Paid: 123.57
3:  , Paid: 0.00
4:  , Paid: 0.00
Enter command (p/r/q):
r
Enter seat num:
2
Seat not empty
Enter command (p/r/q):
3
Invalid command.
Enter command (p/r/q):
r
Enter seat num:
3
Enter first name:
taylor
Enter last name:
swift
Enter amount paid:
0
Enter command (p/r/q):
p
0:  , Paid: 0.00
1:  , Paid: 0.00
2: ned lecky, Paid: 123.57
3: taylor swift, Paid: 0.00
4:  , Paid: 0.00
Enter command (p/r/q):
q

In [ ]:
class Example:
    def __init__(self, x):
        self.x = x
    def __str__(self):
        return f'Hi! I am an Example with x={self.x}'

e1 = Example(123)
print(type(e1))
print(e1)

<class '__main__.Example'>
Hi! I am an Example with x=123

In [ ]:
e2 = Example(246)
print(e2)

is_e2_greater = e2 > e1
print(is_e2_greater)

Hi! I am an Example with x=246

TypeError: '>' not supported between instances of 'Example' and 'Example'

In [ ]:
class Example2:
    def __init__(self, x):
        self.x = x
    def __str__(self):
        return f'Hi! I am an Example with x={self.x}'
    def __gt__(self, other):
        #print('I hate the > operator and always return False')
        #return False
        return self.x > other.x


e1 = Example2(123)
e2 = Example2(246)
if e2 > e1: # python will call e2.__gt__(e2, e1)
    print('e2 > e1!')
else:
    print('e2 <= e1')

e2 > e1!