<a href="https://colab.research.google.com/github/nleck001/CSC221_Spring_2024/blob/main/Class07_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# CSC221 Spring 2024
# Class 7  2/20/2024
# Dictionaries, Chapter 6

In [2]:
# Review
# Saving Colabs to GitHub
# Include Link to Colab
# import

#announcement
# Late Assignments.....

In [3]:
%%file nedcode.py
print('Hey! I\'m importing!')

v1 = 123

def f1(x):
    return x*3

Overwriting nedcode.py

In [4]:
import nedcode

print(nedcode.v1)

print(nedcode.f1(10))

Hey! I'm importing!
123
30

In [5]:
# Dictionaries
d1 = {'ned':518, 'alex':802, 'jeff':617}

In [6]:
print(type(d1))

<class 'dict'>

In [7]:
print(d1['ned'])

518

In [8]:
d1['ned'] = [518, 61]

print(d1)

{'ned': [518, 61], 'alex': 802, 'jeff': 617}

In [9]:
d1['alex'] = [802, 31]

print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617}

In [10]:
d1['fred'] = [518, 120]

print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120]}

In [11]:
print(d1['nancy'])

KeyError: 'nancy'

In [12]:
print(d1.keys())

dict_keys(['ned', 'alex', 'jeff', 'fred'])

In [13]:
print(d1.values())

dict_values([[518, 61], [802, 31], 617, [518, 120]])

In [14]:
d1[3] = 12345
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345}

In [15]:
d1['3'] = 5678
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345, '3': 5678}

In [16]:
print(d1[3])

print(d1['3'])

12345
5678

In [17]:
d1[12.5] = 'I am a float'
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345, '3': 5678, 12.5: 'I am a float'}

In [19]:
print(d1[12.5])
print(d1[12.50001])

I am a float

KeyError: 12.50001

In [20]:
# removing something
del d1['fred']
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345, '3': 5678, 12.5: 'I am a float'}

In [21]:
# The value of get

value = d1['fred']

KeyError: 'fred'

In [25]:
value = d1.get('fred', 'That was missing')
print(value)

value = d1.get('ned', 'That was missing')
print(value)

That was missing
[518, 61]

In [30]:
# Looping
for x in d1.values():
    print(f'{x=}')

x=[518, 61]
x=[802, 31]
x=617
x=12345
x=5678
x='I am a float'

In [33]:
# Looping
for x in sorted(d1.keys()):
    print(f'{x=}')

TypeError: '<' not supported between instances of 'int' and 'str'

In [34]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345, '3': 5678, 12.5: 'I am a float'}

In [35]:
del d1[3]
del d1[12.5]
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, '3': 5678}

In [36]:
# Looping
for x in sorted(d1.keys()):
    print(f'{x=}')

x='3'
x='alex'
x='jeff'
x='ned'

In [37]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, '3': 5678}

In [38]:
del d1['3']

In [39]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617}

In [40]:
d1['ted'] = {'age':55, 'height':'5\'7"', 'area_code':518}

In [41]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': 518}}

In [43]:
print(d1['ted']['age'])

55

In [44]:
print(d1['ted']['area_code'])

518

In [45]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': 518}}

In [46]:
d1['ted']['area_code'] = [518, 802]

In [48]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': [518, 802]}}

In [49]:
print(d1['ted']['area_code'][1])

802