<a href="https://colab.research.google.com/github/nleck001/CSC221_Spring_2024/blob/main/Class07_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# CSC221 Spring 2024
# Class 7  2/20/2024
# Dictionaries, Chapter 6

In [ ]:
# Review
# Saving Colabs to GitHub
# Include Link to Colab
# import xyz
# import xyz as abc

# Announcement
# Late Assignments...
# - 1% per day late after 7 days
# - Example:
#     -  7 days late- no penalty
#     -  8 days late-  8% off (max possible grade goes from 10 to 9.2)
#     - 21 days late- 21% off (max possible grade goes from 10 to 7.9)

In [ ]:
%%file nedcode.py
print('Hey! I\'m importing!')

v1 = 123

def f1(x):
    return x*3

Overwriting nedcode.py

In [ ]:
import nedcode

print(nedcode.v1)

print(nedcode.f1(10))

# Note if you run this cell over and over it only imports once!
# To get it to import again, you must Runtime | Restart Session (restart your python kernel!)
# NOTE: You will read obout reload. It DOES NOT work on many situaitons. Avoid.

Hey! I'm importing!
123
30

In [ ]:
# Dictionaries
d1 = {'ned':518, 'alex':802, 'jeff':617}

In [ ]:
print(type(d1))

<class 'dict'>

In [ ]:
print(d1['ned'])

518

In [ ]:
d1['ned'] = [518, 61]

print(d1)

{'ned': [518, 61], 'alex': 802, 'jeff': 617}

In [ ]:
d1['alex'] = [802, 31]

print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617}

In [ ]:
d1['fred'] = [518, 120]

print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120]}

In [ ]:
print(d1['nancy'])

KeyError: 'nancy'

In [ ]:
print(d1.keys())

dict_keys(['ned', 'alex', 'jeff', 'fred'])

In [ ]:
print(d1.values())

dict_values([[518, 61], [802, 31], 617, [518, 120]])

In [ ]:
d1[3] = 12345
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345}

In [ ]:
d1['3'] = 5678
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345, '3': 5678}

In [ ]:
print(d1[3])

print(d1['3'])

12345
5678

In [ ]:
d1[12.5] = 'I am a float'
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345, '3': 5678, 12.5: 'I am a float'}

In [ ]:
print(d1[12.5])
print(d1[12.50001])

I am a float

KeyError: 12.50001

In [ ]:
# removing something
del d1['fred']
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345, '3': 5678, 12.5: 'I am a float'}

In [ ]:
# The value of get

value = d1['fred']

KeyError: 'fred'

In [ ]:
value = d1.get('fred', 'That was missing')
print(value)

value = d1.get('ned', 'That was missing')
print(value)

That was missing
[518, 61]

In [ ]:
# Looping
for x in d1.values():
    print(f'{x=}')

x=[518, 61]
x=[802, 31]
x=617
x=12345
x=5678
x='I am a float'

In [ ]:
# Looping
for x in sorted(d1.keys()):
    print(f'{x=}')

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345, '3': 5678, 12.5: 'I am a float'}

In [ ]:
del d1[3]
del d1[12.5]
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, '3': 5678}

In [ ]:
# Looping
for x in sorted(d1.keys()):
    print(f'{x=}')

x='3'
x='alex'
x='jeff'
x='ned'

In [ ]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, '3': 5678}

In [ ]:
del d1['3']

In [ ]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617}

In [ ]:
d1['ted'] = {'age':55, 'height':'5\'7"', 'area_code':518}

In [ ]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': 518}}

In [ ]:
print(d1['ted']['age'])

55

In [ ]:
print(d1['ted']['area_code'])

518

In [ ]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': 518}}

In [ ]:
d1['ted']['area_code'] = [518, 802]

In [ ]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'ted': {'age': 55, 'height': '5\'7"', 'area_code': [518, 802]}}

In [ ]:
print(d1['ted']['area_code'][1])

802

In [ ]:
# Copied in from ChatGPT as an example!
# " Give me an example of using dictionaries in python"

# Create a dictionary to store information about a person
person = {
    'name': 'John',
    'age': 30,
    'city': 'New York',
    'email': 'john@example.com'
}

# Accessing values in the dictionary
print("Name:", person['name'])
print("Age:", person['age'])
print("City:", person['city'])
print("Email:", person['email'])

# Modifying a value in the dictionary
person['age'] = 32
print("\nAfter updating age:", person)

# Adding a new key-value pair to the dictionary
person['occupation'] = 'Software Engineer'
print("\nAfter adding occupation:", person)

# Removing a key-value pair from the dictionary
del person['email']
print("\nAfter removing email:", person)

# Iterating over the dictionary
print("\nIterating over the dictionary:")
for key, value in person.items():
    print(key + ":", value)

Name: John
Age: 30
City: New York
Email: john@example.com

After updating age: {'name': 'John', 'age': 32, 'city': 'New York', 'email': 'john@example.com'}

After adding occupation: {'name': 'John', 'age': 32, 'city': 'New York', 'email': 'john@example.com', 'occupation': 'Software Engineer'}

After removing email: {'name': 'John', 'age': 32, 'city': 'New York', 'occupation': 'Software Engineer'}

Iterating over the dictionary:
name: John
age: 32
city: New York
occupation: Software Engineer

In [ ]:
list1 = [
    13,
    21,
    77,
    8
]

print(list1)

[13, 21, 77, 8]

In [ ]:
# Modifiy to create a dictionary with two different person dictionaries in it!

person = {
    'age': 30,
    'city': 'New York',
    'email': 'john@example.com'
}
person2 = {
    'age': 35,
    'city': 'New York',
    'email': 'jjohn@example.com'
}

people = {'john' : person,
          'ted': person2
          }

# Accessing values in the dictionary
#print("Name:", person['name'])
print("Age:", person['age'])
print("City:", person['city'])
print("Email:", person['email'])

# Modifying a value in the dictionary
person['age'] = 32
print("\nAfter updating age:", person)

# Adding a new key-value pair to the dictionary
person['occupation'] = 'Software Engineer'
print("\nAfter adding occupation:", person)

# Removing a key-value pair from the dictionary
del person['email']
print("\nAfter removing email:", person)

# Iterating over the dictionary
print("\nIterating over the dictionary:")
for key, value in people.items():
    print(key + ":", value)

Age: 30
City: New York
Email: john@example.com

After updating age: {'age': 32, 'city': 'New York', 'email': 'john@example.com'}

After adding occupation: {'age': 32, 'city': 'New York', 'email': 'john@example.com', 'occupation': 'Software Engineer'}

After removing email: {'age': 32, 'city': 'New York', 'occupation': 'Software Engineer'}

Iterating over the dictionary:
john: {'age': 32, 'city': 'New York', 'occupation': 'Software Engineer'}
ted: {'age': 30, 'city': 'New York', 'email': 'john@example.com'}