<a href="https://colab.research.google.com/github/nleck001/CSC221_Spring_2024/blob/main/Class3_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSC 221 Spring 2024
- Ned Lecky
- Class 3 Live
- 2/6/2024
## Here is what we did...

In [ ]:
a = 13
b = 12.5
c = 'fred'

print(a, b, c)

print(type(a))
print(type(b))
print(type(c))

13 12.5 fred
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
b = a**123
print(type(b), b)

<class 'int'> 103521923711427330139508660561111399310356231562909825053544787423528887795603512927942762680653876132399975884814583882073552996857463797

In [ ]:
f2 = 1/3
print(f2)

0.3333333333333333

In [ ]:
print(1/11)

0.09090909090909091

In [ ]:
print(c)

fred

In [ ]:
# A-Za-z_ followed by 0-9A-Za-z_

_3abc = 12

In [ ]:
# Good and bad variable names
age_in_years = 61
last_name = 'Lecky'
first_name = 'Ned'

AgeInYears = 61

print(f'age_in_years={age_in_years} and 4 squared is {4**2}')

age_in_years=61 and 4 squared is 16

In [ ]:
# Intro to functions and objects
def f1(x):
    y = 3 * x + 2
    return y

def f2(x):
    print(f'Hi I\'m f2 and I got {x}')

def f3(x):
    print(f"Hi I'm f3 and I got {x}")

y = f1(12)
print(y)

f2(12)
f3(21)

38
Hi I'm f2 and I got 12
Hi I'm f3 and I got 21

In [ ]:
name = 'ned lecky'

print(name[0:2])

ne

In [ ]:
# Roll 1 die 200 times.... what sum do you get??
import random

def roll():
    r = random.randint(1,6)
    return r

for i in range(20):
    print(i, roll())

0 5
1 1
2 6
3 2
4 3
5 1
6 4
7 6
8 1
9 5
10 2
11 6
12 3
13 6
14 3
15 5
16 2
17 6
18 1
19 2

In [ ]:
# Roll 1 die 200 times.... what sum do you get??
import random

def roll():
    r = random.randint(1,6)
    return r

def roll_n_times(n):
    for i in range(n):
        print(i, roll())

roll_n_times(5)
roll_n_times(13)

0 3
1 5
2 4
3 4
4 2
0 1
1 1
2 3
3 2
4 6
5 4
6 1
7 6
8 5
9 5
10 5
11 4
12 1

In [ ]:
# Roll 1 die 200 times.... what sum do you get??
import random

def roll():
    r = random.randint(1,6)
    return r

def roll_n_times(n):
    total = 0
    for i in range(n):
        r1 = roll()
        total = total + r1
        print(i, r1)
    return total

t1 = roll_n_times(5)
t2 = roll_n_times(13)

print(t1, t2)

0 6
1 4
2 6
3 4
4 4
0 1
1 6
2 2
3 2
4 6
5 4
6 5
7 6
8 2
9 2
10 1
11 5
12 4
24 46

In [ ]:
# Roll 1 die 200 times.... what sum do you get??
import random

def roll():
    r = random.randint(1,6)
    return r

def roll_n_times(n):
    total = 0
    for i in range(n):
        r1 = roll()
        total = total + r1
        #print(i, r1)
    return total

t1 = roll_n_times(5)
t2 = roll_n_times(200)

print(t1, t2)

17 656

In [ ]:
for i in range(20):
    print(roll_n_times(20000))

70036
70332
69941
70024
69209
69992
69357
69741
70074
69616
69864
70052
70017
70042
69409
70163
70339
70041
70157
70197