<a href="https://colab.research.google.com/github/nleck001/CSC221_Spring_2024/blob/main/Class09_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSC221 Spring 2024 Class 9
- 2/27/2024
- Ned Lecky

# Some New Material
- Sets
- Variable Length Arguments

In [ ]:
# Sets
# Dictionary with no values, only keys
# Sets, like dictionaries, are unordered

s1 = {'a', 'b', 'c'} # curlies with no colons means set
print(s1)

{'c', 'a', 'b'}

In [ ]:
s1.add('d')
print(s1)

{'c', 'd', 'a', 'b'}

In [ ]:
s1.add('d')
s1.add('d')
s1.add('d')
s1.add('d')

print(s1)

{'c', 'd', 'a', 'b'}

In [ ]:
import random

list1 = []
set1 = set()
for i in range(1000):
    n = random.randint(1, 10)
    list1.append(n)
    set1.add(n)

print(len(list1), list1)
print(len(set1), set1)

1000 [5, 9, 2, 4, 6, 10, 7, 5, 7, 8, 9, 10, 3, 5, 7, 1, 4, 1, 8, 2, 4, 9, 8, 8, 8, 9, 1, 7, 5, 10, 9, 4, 8, 4, 9, 5, 6, 1, 1, 8, 4, 7, 8, 8, 8, 4, 4, 3, 5, 2, 2, 10, 7, 5, 3, 4, 3, 4, 7, 8, 5, 5, 9, 3, 7, 7, 10, 7, 6, 2, 3, 8, 8, 7, 8, 2, 2, 9, 2, 7, 5, 3, 7, 4, 6, 9, 9, 10, 7, 5, 8, 3, 9, 3, 2, 3, 7, 2, 8, 5, 3, 7, 5, 4, 6, 9, 3, 3, 3, 6, 7, 4, 3, 7, 3, 10, 8, 3, 7, 1, 4, 3, 10, 1, 4, 1, 5, 9, 10, 3, 10, 2, 5, 1, 8, 8, 10, 3, 6, 5, 5, 1, 9, 10, 3, 8, 6, 3, 3, 9, 3, 2, 8, 6, 6, 5, 6, 5, 7, 1, 7, 3, 4, 8, 2, 1, 5, 3, 9, 9, 3, 9, 4, 1, 8, 4, 5, 5, 8, 2, 4, 2, 10, 2, 9, 10, 9, 8, 6, 2, 7, 9, 3, 10, 9, 4, 10, 8, 4, 1, 10, 4, 10, 10, 10, 3, 9, 8, 1, 4, 6, 8, 9, 7, 2, 5, 4, 6, 4, 10, 9, 6, 6, 3, 1, 9, 6, 6, 7, 6, 4, 6, 1, 10, 9, 4, 4, 4, 5, 8, 1, 7, 1, 6, 4, 4, 3, 7, 1, 10, 5, 9, 3, 8, 2, 2, 2, 4, 8, 3, 2, 7, 5, 10, 1, 6, 3, 7, 1, 6, 3, 6, 1, 5, 1, 7, 4, 3, 3, 10, 3, 9, 3, 1, 2, 1, 7, 4, 7, 1, 4, 2, 2, 8, 4, 1, 10, 3, 7, 6, 4, 1, 8, 4, 8, 9, 7, 3, 1, 6, 3, 6, 7, 9, 5, 7, 6, 9, 5, 3, 2, 3, 5, 5, 10, 10, 10, 1, 4, 6, 5, 4, 3, 6, 10, 6, 1, 9, 4, 9, 10, 8, 4, 1, 6, 2, 7, 4, 8, 1, 2, 5, 3, 7, 3, 10, 8, 6, 3, 5, 3, 10, 4, 1, 5, 3, 3, 9, 8, 5, 10, 10, 10, 8, 1, 5, 9, 3, 4, 2, 3, 3, 5, 5, 6, 9, 5, 4, 2, 6, 10, 1, 4, 9, 6, 4, 9, 10, 5, 9, 3, 9, 10, 7, 10, 5, 10, 5, 8, 5, 4, 9, 3, 2, 2, 7, 9, 7, 6, 8, 8, 6, 6, 8, 4, 3, 3, 10, 1, 8, 9, 6, 3, 4, 6, 8, 3, 9, 2, 3, 2, 9, 1, 4, 2, 2, 4, 2, 4, 3, 4, 5, 5, 5, 10, 7, 9, 3, 3, 2, 3, 4, 4, 2, 9, 7, 8, 3, 1, 7, 10, 4, 8, 4, 4, 5, 1, 6, 2, 8, 10, 2, 8, 3, 3, 10, 4, 3, 7, 9, 4, 3, 2, 10, 5, 1, 3, 6, 5, 8, 6, 9, 7, 2, 8, 2, 9, 2, 3, 8, 3, 5, 3, 7, 9, 1, 10, 4, 7, 7, 9, 4, 1, 7, 7, 9, 3, 3, 6, 5, 2, 9, 2, 2, 4, 4, 7, 7, 5, 2, 2, 9, 9, 2, 3, 4, 1, 1, 4, 7, 4, 7, 4, 3, 4, 5, 2, 10, 9, 5, 6, 8, 8, 10, 5, 4, 10, 4, 3, 6, 3, 6, 3, 2, 1, 1, 7, 3, 10, 8, 7, 5, 6, 9, 10, 5, 6, 6, 4, 4, 4, 1, 9, 5, 9, 4, 6, 8, 10, 5, 4, 8, 6, 1, 10, 6, 2, 4, 4, 6, 8, 7, 2, 9, 3, 7, 6, 1, 6, 5, 4, 4, 10, 6, 9, 3, 10, 5, 6, 6, 10, 5, 8, 7, 6, 2, 8, 9, 5, 2, 1, 4, 3, 6, 5, 3, 5, 5, 2, 1, 7, 4, 1, 8, 4, 3, 6, 8, 8, 9, 3, 5, 1, 9, 4, 3, 3, 9, 4, 1, 10, 9, 8, 4, 4, 3, 1, 7, 5, 1, 7, 4, 9, 3, 9, 7, 6, 9, 6, 7, 9, 8, 2, 2, 6, 5, 3, 7, 5, 5, 10, 5, 3, 8, 3, 9, 1, 8, 2, 8, 2, 2, 2, 6, 4, 1, 8, 1, 2, 1, 6, 8, 4, 4, 5, 8, 4, 8, 4, 2, 5, 6, 5, 3, 1, 8, 6, 1, 4, 10, 4, 1, 10, 3, 4, 2, 4, 3, 5, 4, 6, 3, 5, 2, 3, 10, 8, 2, 9, 8, 8, 7, 9, 7, 2, 10, 7, 4, 7, 6, 9, 3, 5, 9, 9, 8, 3, 2, 1, 8, 10, 6, 1, 2, 6, 10, 3, 2, 3, 9, 1, 9, 6, 4, 10, 2, 4, 1, 2, 10, 7, 3, 6, 3, 7, 8, 1, 1, 2, 2, 7, 10, 3, 6, 2, 5, 9, 8, 6, 10, 4, 4, 1, 9, 9, 6, 5, 4, 7, 6, 10, 3, 10, 8, 5, 9, 3, 8, 8, 3, 6, 1, 3, 3, 9, 8, 6, 1, 2, 5, 9, 9, 9, 7, 2, 9, 2, 8, 1, 4, 9, 1, 3, 3, 4, 5, 6, 2, 6, 6, 4, 5, 8, 6, 3, 6, 3, 4, 3, 7, 10, 5, 7, 5, 7, 3, 3, 10, 6, 9, 5, 9, 7, 2, 8, 7, 3, 2, 8, 8, 5, 3, 1, 10, 9, 8, 1, 8, 7, 7, 1, 3, 3, 1, 1, 7, 4, 8, 6, 8, 6, 4, 1, 1, 3, 5, 3, 4, 3, 10, 4, 7, 1, 4, 9, 5, 3, 2, 1, 6, 4, 2, 10, 3, 6, 3, 8, 6, 1, 1, 6, 5, 7, 9, 8, 10, 9, 8, 8, 8, 1, 8, 5, 10, 8, 9, 4, 8, 9, 3, 4, 10, 10, 4, 2, 1, 4, 7, 5, 4, 9, 3, 9, 5, 2, 8, 7, 3, 9, 9, 8, 6, 3, 8, 1, 8, 9, 1, 2, 6]
10 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
global_xyz = 12345


# Variable length arguments
def bigfunc(a, b, c=42, *args, **kwargs):
    print(f'{global_xyz=} {a=} {b=} {c=} {args}, {kwargs}')

    # do stuff

    # return stuff

bigfunc(1, 2)
bigfunc(b=1, a=2)
bigfunc(1, 2, 5)

bigfunc(1, 2, 5, 13, 21, 8, 'ned')

bigfunc(1, 2, 5, 13, 21, 8, 'ned', fred=21, test=123, endline='\n')

global_xyz=12345 a=1 b=2 c=42 (), {}
global_xyz=12345 a=2 b=1 c=42 (), {}
global_xyz=12345 a=1 b=2 c=5 (), {}
global_xyz=12345 a=1 b=2 c=5 (13, 21, 8, 'ned'), {}
global_xyz=12345 a=1 b=2 c=5 (13, 21, 8, 'ned'), {'fred': 21, 'test': 123, 'endline': '\n'}

# Function 1: Add Numbers 1 to n
- This function adds up all the nuimbers form 1 to n
- NOTE: returns 0 for n=0, n=11, or n<0

In [9]:
# Coding the function
def sum_1_to_n(n):
    '''Adds all numbers from 1 to n
    and returns the total'''

    total = 0
    for i in range(1, n+1):
        total += i
    return total

In [10]:
# Testing the function
print(sum_1_to_n(1000))

assert sum_1_to_n(100) == 101 * 100 / 2, "Didn't work for n=100"
# Illustrates what happens if you don't pass!!
# assert sum_1_to_n(100) == 12345, "Forced to fail!!"
assert sum_1_to_n(0) == 0, "Didn't work for n=0"
assert sum_1_to_n(1) == 1, "Didn't work for n=1"
assert sum_1_to_n(1000) == 1000 * 1001 / 2, "Didn't work for n=1000"
assert sum_1_to_n(-35) == 0, "Didn't work for n=1000"

500500

# Function 2: Make a truth table
- for (a and b) or (c and d)

In [5]:
# The Code
def logic_function(a, b, c, d):
    return (a and b) or (c and d)

def truth_table():
    print('{a}\t{b}\t{c}\t{d}\t{value}')
    for a in [False, True]:
        for b in [False, True]:
            for c in [False, True]:
                for d in [False, True]:
                    value = logic_function(a, b, c, d)
                    #print(a, b, c, d, value)
                    print(f'{a}\t{b}\t{c}\t{d}\t{value}')

In [6]:
# Testing
truth_table()

{a}	{b}	{c}	{d}	{value}
False	False	False	False	False
False	False	False	True	False
False	False	True	False	False
False	False	True	True	True
False	True	False	False	False
False	True	False	True	False
False	True	True	False	False
False	True	True	True	True
True	False	False	False	False
True	False	False	True	False
True	False	True	False	False
True	False	True	True	True
True	True	False	False	True
True	True	False	True	True
True	True	True	False	True
True	True	True	True	True

# Function 3: Find Special 5-digit numbers
- Find all 5 digit numbers where sum of first 4 digits = last digit

In [7]:
# Code

# Verify we know what we're doing
def split_digits(n):
    ''' Takes 5-digit number 10000 - 99999 and splits into 5 digits'''

    d1 = int(n / 10000)
    d2 = int(n / 1000) % 10
    d3 = int(n / 100) % 10
    d4 = int(n / 10) % 10
    d5 = int(n / 1) % 10
    return d1, d2, d3, d4, d5

def find_em():
    '''Find all 5 digit numbers with the property and return how many'''
    count = 0
    for i in range(10000, 100000):
        d1, d2, d3, d4, d5 = split_digits(i)
        if d1 + d2 + d3 + d4 == d5:
            count += 1
            #print(i)

    return count

In [8]:
# Testing
print(split_digits(10123))
print(split_digits(98427))

n = find_em()
print(n)

(1, 0, 1, 2, 3)
(9, 8, 4, 2, 7)
495