<a href="https://colab.research.google.com/github/nleck001/CSC221_Spring_2024/blob/main/Class05_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CSC217 Class 5
- As done live in class 2/13/2024
- Crash Chapter 4

In [1]:
print('hi!', end='THIS IS THE END.')

for xyz in [1, 2, 31]:
    print(xyz)
    print('hey')

print('bubye')

hi!THIS IS THE END.1
hey
2
hey
31
hey
bubye

In [2]:
for character in 'hello, world!':
    print(character)

print('only once!')

str = 'hi,,,there'
print(str[2])
print(str[4:7])

h
e
l
l
o
,

w
o
r
l
d
!
only once!
,
,th

In [3]:
for x in range(10, 20, 3):
    print(x)

10
13
16
19

In [4]:
# Make a list containing the above
my_list = []
for x in range(10, 20, 3):
    my_list.append(x)

print(my_list)

[10, 13, 16, 19]

In [5]:
# List Comprehension
my_new = [x for x in range(10, 20, 3)]
print(my_new)

[10, 13, 16, 19]

In [6]:
# Make a list containing the above
my_list = []
for x in range(10, 110, 10):
    if x != 70:
        my_list.append(x)

print(my_list)

[10, 20, 30, 40, 50, 60, 80, 90, 100]

In [7]:
my_new2 = [x for x in range(10, 110, 10) if x != 70]
print(my_new2)

[10, 20, 30, 40, 50, 60, 80, 90, 100]

In [8]:
# EXAMPLES
# Truth Tables
# p, q, and r are variables True/False
# Print out all possible combos of p, q, and r and also p and r as well as q or r

print('p\tq\tr\tp_and_r\tq_or_r')
for p in [True, False]:
    for q in [True, False]:
        for r in [True, False]:
            p_and_r = p and r
            q_or_r = q or r
            print(f'{p}\t{q}\t{r}\t{p_and_r}\t{q_or_r}')

p	q	r	p_and_r	q_or_r
True	True	True	True	True
True	True	False	False	True
True	False	True	True	True
True	False	False	False	False
False	True	True	False	True
False	True	False	False	True
False	False	True	False	True
False	False	False	False	False

In [9]:
# Extra Credit
V = [True, False]
truth_values = [(p, q, r) for p in V for q in V for r in V]

print(truth_values)

[(True, True, True), (True, True, False), (True, False, True), (True, False, False), (False, True, True), (False, True, False), (False, False, True), (False, False, False)]

In [10]:
# Example 2
# Clean up a text file
# Remove blank lines and lines starting with # and remove leading/trainling spaces

In [11]:
%%file input.txt
100, 200, 300
   200, 400, 500

#200

500, 600, 700

Writing input.txt

In [12]:
input_file = open('input.txt', 'r')
output_file = open('output.txt', 'w')

keep_going = True
while keep_going:
    line = input_file.readline()
    if len(line) < 1:
        keep_going = False
    else:
        line = line.strip()

        if len(line) > 0 and not line.startswith('#'):
            output_file.write(line + '\n')

input_file.close()
output_file.close()